<ion-view title="Positions">
<!-- div ng-if="data.main.length > 0"   -->

  <ion-content class="has-header">
  <!--
    <div ng-if="data.main.length === 0" class="empty-msg">Nothing</div>
    <div ng-if="data.main.length > 0" class="list">

    -->
      <!--
      <a class="item item-avatar" ng-repeat="pos in data.filteredPositions = (data.main | filter:search) track by pos.id" ui-sref="app.pos({id: pos.id})">
      "\"Position\""
-->

       <div class="list card">
            <a ui-sref="app.qb({id: pos.id})" class="item item-icon-left">
                <i class="icon ion-ios-americanfootball"></i>
                Quarterbacks
            </a>
            <a ui-sref="app.rb({id: pos.id})" class="item item-icon-left">
                <i class="icon ion-ios-americanfootball"></i>
                Running Backs
            </a>
            <a ui-sref="app.wr({id: pos.id})" class="item item-icon-left">
                <i class="icon ion-ios-americanfootball"></i>
                Wide Receivers
            </a>
            <a ui-sref="app.te({id: pos.id})" class="item item-icon-left">
                <i class="icon ion-ios-americanfootball"></i>
                Tight Ends 
            </a>
            <a ui-sref="app.def({id: pos.id})" class="item item-icon-left">
                <i class="icon ion-ios-americanfootball"></i>
                Defense
            </a>
        </div>

    </div>
  </ion-content>
</ion-view>
